@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : rgb(255, 255, 255);
    --primary-color-2: rgba(255, 255, 255, 0.5);
    --secondary-color: rgb(230, 83, 60);
    --background-primary: rgb(0, 0, 0);

}

/* Shared Styles */
.hide{
    display: none;
}
body{
    font-family: "Inter", sans-serif;
    background-color: var(--background-primary);
}
.btn-primary{
    font-size: 1.12rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 42px;
    border: none;
    padding: 16px 40px;

}
.primary-heading{
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 14px;
}
.primary-desc{
    font-size: 0.8rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

/* Nav Styles */

header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    margin-bottom: 100px;
}
.nav-bar{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    align-items: center;
}
.nav-bar h3{
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--secondary-color);
    font-style: italic;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 12px 24px 12px 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}
.nav-items li a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.12rem;
}
#home{
    background-color: var(--secondary-color);
    padding: 8px 20px;
    border-radius: 46px;
}
.fa-solid{
    color: var(--primary-color);
    font-size: 1.6rem;
    display: none;
}

/* Nav responsive smaller device */

@media screen and (max-width: 576px) {
    header{
        padding: 0 20px;
    }
    .nav-items{
        display: none;
    }
    .fa-solid{
        display: block;
    }

}

/* Banner Styles */

.banner{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
}
.banner-content h2{
    font-size: 4.8rem;
    color: var(--primary-color);
    font-weight: 900;
}
.miama-font{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 10rem;
    line-height: 5px;
}
.banner-content p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    margin: 28px 0;
}
.banner-btn{
    display: flex;
    gap: 14px;
}
.btn-secondary{
    border: 1px solid rgb(255, 255, 255);
    background-color: var(--background-primary);
}
.banner-image{
    position: relative;
}
.total-video{
    position: absolute;
    top: 125px;
    left: 230px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 193px;
    padding: 17px 24px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
.total-video h4{
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--primary-color);
}
.total-video p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}
.total-tutorial h4{
    font-size: 1.5rem;
    color: rgb(250, 250, 249);
}
.total-tutorial p{
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
}
.total-tutorial h6{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}
.total-tutorial{
    width: 206px;
    height: 96px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(8px);
    position: absolute;
    right: 256px;
    bottom: 63px;
}

/* Banner responsive smaller device */

@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .total-tutorial{
        width: 155px;
        right: 185px;
        bottom: 151px;
    }
    .total-video{
        width: 145px;
        top: 47px;
        left: 194px;
    }
    .banner-btn button{
        padding: 16px 18px;
    }
    .banner-content h2{
        font-size: 3.8rem;
    }
    .miama-font{
        font-size: 8rem;
    }
}
/* Habit section styles */

.habits{
    max-width: 1060px;
    margin: 0 auto;
}
.habits h1, .habits p{
    text-align: center;
}
.all-habits{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.habit h4{
    font-size: 1.12rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 6px;
}
.habit img{
    border-radius: 50%;
    margin-top: 54px;
    margin-bottom: 30px;
}
.habit{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/* Habit section responsive */

@media screen and (max-width: 576px) {
    .habits{
        margin: 0 20px;
    }
    .all-habits{
        flex-direction: column;
        gap: 20px;
    }
    .habit img{
        margin: 20px 0;
    }
}
/* Run section styles */

.run{
    max-width: 1060px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 30px;
    gap: 165px;

}
.run img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    object-fit: cover;
    object-position: right;
}
.run-content p{
    margin-top: 14px;
    margin-bottom: 34px;
}
.run-content{
    margin-left: 22px;
}

/* Run section responsive */

@media screen and (max-width: 576px) {
    .run{
        flex-direction: column;
        margin: 66px 20px;
        gap: 31px;
    }
    .run img{
        width: 100%;
    }
    .run-content{
        margin-left: 0;
    }
    .run-content button{
        justify-items: center;
        width: 100%;
    }
}

/* Eat healthy section styles */

.eat-healthy{
    max-width: 1060px;
    margin: 0 auto;
}
.eat-healthy-heading{
    text-align: center;
    margin-bottom: 30px;
}
.eat-group{
    display: flex;
    gap: 100px;
    background-color: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 18px;
    margin-bottom: 20px;
}
.eat-content h2{
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--primary-color); 
}
.eat-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
}
.eat-group img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

/* Eat Healthy responsive */

@media screen and (max-width: 576px) {
    .eat-healthy{
        margin: 20px;
    }
    .eat-group{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .eat-content{
        align-items: center;
    }
}
/* BMI calculator section styles */

.bmi-calc-heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 88px;
}
.calc-container{
    background-color: rgb(34, 34, 34);
    padding-top: 49px;
    padding-bottom: 55px;
}
.calc-info{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.bmi-chart{
    width: 50%;
}
.bmi-heading{
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--primary-color);  
}
th{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-align: left;
}
td{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--primary-color-2);
}
th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 151px;
    height: 42px;
    padding-left: 20px;
}
table{
    border-collapse: collapse;
    margin-top: 52px;
}
.bmi-form p{
    margin-top: 14px;
    margin-bottom: 34px;
}
.bmi-form-container{
    display: flex;
    flex-direction: column;
}
.form-group{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.input-field{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    padding: 13px 20px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    flex: 1;
}
#bmi-submit{
    margin-top: 34px;
    width: 224px;
}

/* Bmi calculator responsive styles */

@media screen and (max-width: 576px) {
    .bmi-calc-heading{
        margin-left: 20px;
        margin-right: 20px;
    }
    .calc-info{
        flex-direction: column;
        gap: 42px;
        margin: 0 20px;
    }
    .bmi-chart{
        width: 100%;
    }
    table{
        width: 100%;
    }
    .bmi-form-container{
        width: 100%;
    }
    .input-field{
        width: 170px;
    }
    .full-width-field{
        width: 100%;
    }
}
/* Our team styles */

.our-team{
    max-width: 1060px;
    margin: 88px auto;
}
.our-team h1, .our-team p{
    text-align: center;
}
.team-photo{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.member{
    width: 325px;
    height: 272px;
    position: relative;
}
.member img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    filter: brightness(75%);
    object-fit: cover;
}
.member-desc{
    position: absolute;
    left: 21px;
    bottom: 21px;
}
.member-desc h4{
    font-size: 1.14rem;
    font-weight: 800;
    color: var(--primary-color);
}
.member-desc h6{
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--primary-color-2);
    margin-top: 4px;
}

/* Our Team responsive styles */

@media screen and (max-width: 576px) {
    .our-team{
        margin: 66px 20px;
    }
    .team-photo{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        justify-items: center;
        margin-top: 37px;
    }
}
/* Footer section styles */

footer{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-details h1{
    font-size: 4.3rem;
    font-weight: 800;
    color: var(--secondary-color);
    font-style: italic;
    margin-bottom: 20px;
    
}
.contact h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.contact p{
    font-size: 1.4rem;
    color: var(--primary-color-2);
    margin-top: 20px;
}
.footer-items{
    max-width: 1060px;
    margin: 0 auto;
}

.footer-content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 176px;
    padding-top: 66px;
    padding-bottom: 79px;
    
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-items h4{
        font-size: 1.25rem;
        color: var(--primary-color-2);
        text-align: center;
        padding: 35px 0;
}

/* Footer responsive */
@media screen and (max-width: 576px) {
    footer{
        padding: 0 20px;
    }
    .footer-content{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
}

